*{
    margin: 0;
    padding: 0;
}

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(46, 51, 46) 10%, rgb(10, 26, 1) 100%);
}

.board{
    width: calc(64px*8);
    height: calc(64px*8);
    display: flex;
    flex-wrap: wrap;
}

.cell{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img{
    width: 64px;
    height: 64px;
    position: relative;
}

.black{
    background-color: #1e1d36;
}

.white{
    background-color: #a4a4a4;
}

.selected{
    background-color: #7e7e3c;
}

.available{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: aqua;
}

.lost{
    height: calc(50vh - 60px);
    padding: 30px;
    margin-left: 50px;
    background-color: lightgrey;
}

.lost img{
    width: 20px;
    height: 20px;
}

.timer{
    color:white;
    margin-right: 15px;
}

.timer button{
    text-decoration: none;
    border: 1px solid rgb(146, 248, 146);
    position: relative;
    overflow: hidden;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 7px;
    margin-bottom: 15px;
}


.timer button:hover {
    box-shadow: 1px 1px 25px 10px rgba(119, 234, 117, 0.4);
  }
  
  .timer button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(88, 244, 68, 0.4),
      transparent
    );
    transition: all 650ms;
  }
  
  .timer button:hover:before {
    left: 100%;
  }
